:root {
    --main-h1: #002533;
    --main-p: #161f21;  
    --main-a:  #043c52;
    --main-pure-white: #fff;
    --main-white: #e6e6e6;
  }

  .content{
      margin-top:60px!important;
  }
  .text-italic{
    font-style: italic;
  }
  .hero-para{
      color: var(--main-p);
      font-weight: 600;
      font-size: 16px;
      font-style: italic; /* text italic in main sections*/
  }

  .icon-box-cell> label.text-m{
      color:var(--main-a)!important;
  }

.logo-center{
    display: flex;
    align-items: center
}

.img-galary{
    width: auto;
    height: 170px;
}

.img-square {
    position: relative !important;
    width: 300px !important;     
    height: 300px !important;
    overflow: hidden !important;
 }


.xyz{
    color:#000;
}
.xyz h1{
    color:#000;
}
.xyz h6{
    color:#000;
}
.vertical-center {
  margin-top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-center-hero {
  margin-top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.horizontal-center{
  margin-left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-sectors{
  position: absolute; 
  bottom: 5vh;
  width: 100%;
}
.list-item-custom{
        /* background: linear-gradient(-45deg, rgba(255,255,255,9) 0%, rgba(255,255,255,0.7) 100%); */
        background-color: rgba(255, 255, 255, 0.15);  
        backdrop-filter: blur(10px);
        padding: 0 20px 0 20px;
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 120px;
        width: 200px;
        /*clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);*/
        /*transition: 1s ease;*/
        border-radius: 20px !important;       
}
.list-item-custom:hover{
    
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.98);
    transition: 0.5s ease;
    
}
.color5AE531:hover{
    border-bottom: 10px solid #43B8EC;
}
.color43B8EC:hover{
    border-bottom: 10px solid #2eca00;
}
.colorFCD716:hover{
    border-bottom: 10px solid #FCD716;
}
.colorD32769:hover{
    border-bottom: 10px solid #D32769;
}
.colorBF8641:hover{
    border-bottom: 10px solid #BF8641;
}
.list-item-custom a ,.textl{
    color: #477EEB;
}

.list-item-custom2{
    background-color: white;
    padding: 0 20px 0 20px;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 100px;
    width: 200px;
    /*clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);*/
    /*transition: 1s ease;*/
    border-radius: 30px;  
    vertical-align: middle;     
}
.list-item-custom2> label{
    color: #477EEB;
}
.list-item-custom2:hover{
    
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    
}

.iconboxbg{
    
    padding: 1rem;
    border-radius: 30px;
    
}
.iconboxbg label{
    color: #26ACE3 !important;
}
/* background for categories */
.service1{
    background: 
    linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%),
    url(images/bg/hydro3.jpg);
    background-size: cover;
    backdrop-filter: blur(10px);

    
}
.service1 li{
    color: #000;
}
.service2{
    background: 
    linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%),
    url(images/bg/wind3.jpg);
}
.service2 li{
    color: #000;
}
.service3{
    background: 
    linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.7   ) 50%, rgba(255,255,255,0) 100%),
    url(images/bg/s5.jpg);
}
.service3 li{
    color: #000;
}
.service3 h1{
    color: #000;
}
.service4{
    background: 
    linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.7   ) 50%, rgba(255,255,255,0) 100%),
    url(images/bg/s6.jpg);
}
.service4 li{
    color: #000;
}
.service4 h1{
    color: #000;
}
.service5{
     background: 
     linear-gradient(0deg, rgba(255,255,255,0.5) 100%, rgba(0,0,0,0) 0%),
    url(images/bg/inv.jpg); 


}
.service5 li{
    color: #000;
}
.service5 h1{
    color: #000;
}
.fullpage-inner-menu> h5{
    color:#000 !important;
}
.icon-box-cell> label{
    color: #000 !important;
}

.fullpage-varrow .fa-angle-down:before {
    color: #000;
}


/* ----------------------- icon box hover--------------------------------*/


.icon-box:hover{
    
    color: #26ACE3;
    /* border-bottom: 2px solid #26ACE3; */
    transition: 1s;
    transform: scale(0.9);
}

.design_footer{
    padding-top: 100px;
}

.text_white{
    color:#fff;
}


.li_black{
    color:#000 !important;
}
.gohome{
    min-height: 60vh;
}
.gohome a{
    color: #000;
    font-size: x-large;
}
.gohome li:before {
        content: "\f0da"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
}

.gohome li {
    list-style-type: none;
    font-size: 18px;
}

.gohome .li_sub:before {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
@media only screen and (max-width: 600px) {
    .gohome .gallery{
        margin-top: 200px;
    }
}
.goback{
    margin-bottom: -100px;
    margin-left: -20px;
    z-index: 1;
    padding-top: 30px;
}
@media only screen and (max-width: 600px) {
    .goback{
        margin-bottom: -150px;
        margin-left: 0;
    }
}
@media only screen and (min-width: 768px) {
    .goback{
        margin-bottom: -150px;
    }
}


@media (max-width: 992px){
.section .background-page, .section .content, .section .container {
    text-align: left !important;
}
}



.mobile-main-service{
    display: none;
}
@media only screen and (max-width: 600px) {
    .mobile-main-service{
        display: flex;
        justify-content: center;
    }
    #desktop_section{
        display: none;
    }

    .list-item-custom{
        background: linear-gradient(-45deg, rgba(255,255,255,9) 0%, rgba(255,255,255,0.7) 100%);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 120px;
        width: 200px;
        justify-content: center;
        justify-items: center;
        border-radius: 20px !important; 
    }
}


/* -------------------------image galary -------------------------*/
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 9;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 1;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  /* ------------------------- end image galary -------------------------*/
  /* ------------------------- animation ------------------------- */
  .animate_left{
    position:relative;
    animation:animateleft 3s;
  }
  @keyframes 
    animateleft{from{left:-50px;opacity:0} 
    to{left:0;opacity:1}
  }
  .animate_right{
    position:relative;
    animation:animateright 3s;
  }
  @keyframes 
    animateright{from{right:-50px;opacity:0} 
    to{right:0;opacity:1}
  }
  .animate_bottom{
    position:relative;
    animation:animatebottom 3s;
  }
  @keyframes 
    animatebottom{from{bottom:-50px;opacity:0} 
    to{bottom:0;opacity:1}
  }

  .animate_delay-1{
    animation-delay: 0.1s;
  }
  .animate_delay-2{
    animation-delay: 0.5s;
  }
 

  /* *********************about us **************** */
   .aboutus{
    margin-top: -20px!important;
    
  } 


  /* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* background-color: rgba(0,0,0,0.1); */
  }

  .tabcontent p{
      font-weight: 600;
      font-size: 16px;
        color: var(--main-p);
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    /*transition: 0.3s;*/
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 3px solid rgb(2, 98, 143);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 50px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;

    font-weight: 600;
    font-size: 16px;
    color: var(--main-p);
  }

  .tabcontent {
    animation: fadeEffect 2s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect{from{bottom:-50px;opacity:0} 
  to{bottom:0;opacity:1}}


  .side-menu li{
    list-style-type: none;
  }

.ref-pro{
    padding: 20px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(60px);
    border: none;
    border-radius: 50px;
    color: #002533;
}

    
/* -------------------------------- Our People --------------------------------*/
/* Style the tab */
.people-tab {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.015);  
    backdrop-filter: blur(10px);
  }
  
  /* Style the buttons inside the tab */
  .people-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: calc(100% / 7);
    height: 120px;
    border-right: 2px solid #fff;
  }

  .people-tab button:last-child {
    border-right: none;
  }
  
  /* Change background color of buttons on hover */
  .people-tab button:hover {
    background-color: rgba(63,169,245, 0.5);  
    backdrop-filter: blur(10px);
  }
  
  /* Create an active/current tablink class */
  .people-tab button.active {
    background-color: rgba(63,169,245, 0.5);  
    backdrop-filter: blur(10px);
  }
  .people-tab h5{
      font-size: 14px;
      font-weight: 600;
      padding: 0;margin: 0;
      color: rgb(230, 230, 230);
  }
  .people-tab h6{
    font-size: 12px;
    font-weight: 300;
    padding: 0;margin: 0;
    color: #fff;
}
  
  /* Style the tab content */
  .people-tabcontent {
    display: none;
    padding: 0px 12px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    /* text-align: left; */
    color: #fff!important;
    width:100%;
  }
  
  .people-tablinks .remove-line-height{
      line-height: 150%;
  }

  .tab-link-para{
    color: #424242!important;
    font-weight: 600;
  }
  
  .remove-line-height:before {content:'';
    display:block;
    margin:1em 0;
    }
  .my-active{display: block;}

  .leader-img{
    width: 100%;
    /* height: 200px; */
  }
  .leader-img img{
    width: auto;
    height: 60vh;
    padding: 15px 0px;
    margin: 0;
  }
  .leader-content{
    text-align: left;
    padding-top : 15vh;

  }

  .svg{
    fill: #26ACE3;
  }


  .contact-info{
    padding: 5px 5px;
  }

  .contact-info h5{
    padding-top: 4px;
    
  }


  /* Referance Button */
  .ref-btn{
    position: absolute;
    right:5vw;
    bottom: 1vh;
    width: 20vw;
  }


  /* --------------- referance table ---------------------*/
  #referance {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
  }
  
  #referance td, #referance th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #referance tr:nth-child(even){background-color: #f2f2f2;}
  
  #referance tr:hover {background-color: #ddd;}
  
  #referance th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #26ACE3;
    color: white;
  }


/* -------------------------------------------------About Us -----------------------------------------*/
  .about1{
    /* background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.10407913165266103) 87%, rgba(255,255,255,1) 100%),url(images/bg/aboutus.jpeg);
    background-position:0 100% !important;
    background-size:50% !important;
    background-repeat:no-repeat; */
    
    background: url(images/bg/aboutus.jpg);
    }
    .about1 li{
        color: #000;
    }
    /* .about-bg-section{
      background: url(images/bg/aboutus.jpeg);
    } */

    /* .about-overlay{
      margin-top: -10vh;
      width:100%;
      height:100%;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(249,249,249,0.5998774509803921) 35%, rgba(231,231,231,1) 100%);
    } */
    .content-custom{
      margin-top: 15vh;
    }
  .about2{
    background: 
    linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 95%, rgba(255,255,255,0.8) 100%),
    url(images/bg/ourteam.jpg);
    
    }
    .about1 li{
        color: #000;
    }
  .about3{
    background: 
    /* linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%),
    */url(images/bg/partner1.jpg); 
    
    }
    .about1 li{
        color: #000;
    }

.partner{
  padding: 20px;
}
.partner a{
  color: gray;
}
.partner-card{
  max-height:300px;
}
.parter-card-image{
  max-width:200px;
  max-height: 40px;
}

.box-part{
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius:0;
  padding:10px 10px;
  margin:0px 0px;
}

/* .partner-card-text{
  padding-top: 2em;
}
.partner-card-more{
  padding-top: 2em;
} */
.social-group i{
  color:#fff!important;
}